page-login {
    
    .btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height: 4.6rem;
        //background: url('../assets/img/btn.png') no-repeat transparent;
        background-color: #6381AF
    
    
      }
      .image{
        background: url('../assets/img/background.png') no-repeat transparent;
        width: 100%;
        height: 90%;
        margin-bottom: -62px

      }

      .splash-logo {
        margin: auto;
        background: url('../assets/img/logo3.png') repeat transparent;
        background-size: 100%;
        border-radius:60px;
        margin-top: -50px;
        margin-bottom: -70px;
        width: 188px;
        height: 200px;
      }
    
    
    $white-color: #fff;
    $height100: 100%;
    
    ion-grid {
        width:100%;
        height: $height100;
        background: #dfdfdf;
    }
    
    ion-row {
        height: $height100;
    }
    
    ion-col {
        border: 1px solid #488aff;
        background: $white-color;
    }
    
    ion-button {
        font-weight: 300;
    }
    
    @media (min-width: 240px) and (max-width: 768px) {
        ion-grid {
            background: $white-color;
        }
        ion-col {
            border: none;
        }
    
}
}
