page-list-master {
   .menuright{
       float: right;
   }
   .liste{
     font-family:"ubuntu"
   }
   .camera{
    background-color: white;
    border-radius:10px;
    float:right;
    margin-top:15px;
    width:18px

}

.navbar{
    background-color: #6381AF

   }
   .profilInfo{
       font-size: 20px;
       color: white;
       margin-top: -15px;
       line-height: 35px;
       font-family: "poiretOne"
   }
    .splash-bg {
        position: relative;
        background: url('../assets/img/profile.png') no-repeat transparent;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 40s linear infinite;
        box-shadow: 0 0 5px black;
      }
    
      @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }
      .profile{
        position:fixed
      }
    
      .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
      }
      .splash-logo {
        margin: auto;
        background: url('../assets/img/background.jpg') repeat transparent;
        background-size: 100%;
        border-radius:70px;
        margin-top: -180px;
        margin-bottom: 25px;
        width: 100px;
        height: 100px;
      }
      .back{
        background: url('../assets/img/back.png') repeat transparent;
        color:#6381AF;
        font-family:'Poiret One'
    
      }
      .splash-intro {
        font-size: 13px;
        font-weight: bold;
        max-width: 80%;
        margin: auto;
      }
      .card{
        margin-top:0px;
        margin-right:10px;
        width:95%;
        font-family:"poiretOne"
      }
      &.activated {
        background-color: rgb(220, 220, 220);
      }

}
